.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Header arriba, contenido flexible, footer abajo */
  grid-template-areas:
    "header"
    "body"
    "footer";
  min-height: 100vh;
  /* Asegura que la página ocupe toda la pantalla */
}

app-header {
  grid-area: header;
  width: 100%;
}

.layout-body {
  grid-area: body;
  width: 100%;
  padding: 1rem;
  /* Ajusta el espaciado si es necesario */
}

app-footer {
  grid-area: footer;
  width: 100%;
}