<app-loading class="conten-loading" *ngIf="isLoading; else data"> </app-loading>

<ng-template #data>
  <h2 class="novedades">Últimas novedades!!!</h2>

  <div *ngIf="listBlogs.length; else nodata" class="list-blogs">
    <div class="item" *ngFor="let item of listBlogs" (click)="verBlog(item.id)">
      <h3>{{ item.title }}</h3>
      <p>{{ item.content }}</p>
      <div class="info-autor">
        <i
          ><b>Autor: {{ item.authorName }}</b></i
        >
      </div>
    </div>
  </div>

  <ng-template #nodata>
    <div class="nodata">Todavía no hay blogs.</div>
  </ng-template>
</ng-template>
