<header class="app-header">
  <span class="menu-toggle" (click)="toggleMenu()">☰</span>
  <nav>
    <ul class="nav-links" [class.active]="menuOpen">
      <li class="close-btn" (click)="toggleMenu()">✖</li>
      <li><a href="#">Inicio</a></li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/create-page">+ Crear pregunta</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a href="#" (click)="logout()">Logout</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/auth/login">Login</a>
      </li>
    </ul>
  </nav>
</header>
