<!-- Mostrar loading mientras carga -->

<div class="loading" *ngIf="isLoading">...Cargando</div>

<!-- Mostrar contenido cuando termine de cargar -->
<div class="blog-detail-container" *ngIf="!isLoading && blog">
  <h1>{{ blog.title }}</h1>
  <p class="blog-content">{{ blog.content }}</p>
  <p class="author"><b>Autor:</b> {{ blog.authorName }}</p>

  <hr />

  <!-- Sección de Comentarios -->
  <div class="comments-section">
    <h3>Comentarios</h3>

    <!-- Input para escribir comentario -->
    <div class="comment-box">
      <textarea
        [(ngModel)]="newComment"
        placeholder="Escribe tu comentario..."
      ></textarea>
      <button (click)="addComment()">Enviar</button>
    </div>

    <!-- Lista de comentarios -->
    <div class="comment" *ngFor="let comment of comments">
      <p>
        <b>{{ comment.author_name }}</b
        >: {{ comment.content }}
      </p>
    </div>
  </div>
</div>
